body, html {
	border: 0px; 
	margin: 0px; 
	padding: 0px; 
	height:100%; 
	position: relative;
	width:100%;
	background: transparent;
}

html { 
	background: #e8e4e5 url(images/bg.jpg) no-repeat bottom right fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.menu {
	background: rgba(10,10,10,0.7);
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: 0px -1px 0px #000;
}

.menu h1 {
	font-size: 2.4em;
	letter-spacing: -0.05em;
	text-align: center;
	font-weight: 400;
	margin: .5em 0 0 0;
	line-height: 1em;
}

.menu ul {
	padding: 0;
	margin: 0;
	border-top: 1px dashed rgba(255,255,255,0.4);
}
.menu ul li {
	list-style-type: none;
	font-size: 1.9em;
	line-height: 2em;
	
}

.menu ul li a {
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}
	.menu ul li.active a {
		font-weight: bold;
		color: #fff;
	}

.menu ul li a:hover {
	color: rgba(255,255,255,1);
}

.content {
	background: rgba(255,255,255,0.6);
	text-shadow: rgba(255,255,255,0.4) 0 1px 1px;
}
	.content .hero-unit {
		background: transparent;
		padding-top: 2em;
	}

	.content p {
		font-size: 1.2em;
		line-height: 1.5em;
	}

@media (min-width: 767px) {
	
	.menu {
		width: 18%;
		min-width: 150px;
		height: 100%;
		float: left;
	}

	.content {
		width: 40%;
		min-width: 400px;
		height: 100%;
		float: left;
	}

	.menu ul {
		margin: 2em 1em 0;
	}
}
@media (max-width: 767px) {
	.menu {
		width: 100%;
	}

	.content {
		width: 100%;
	}

	.menu ul {
		margin: 2em 0 0;
	}

	.menu ul li a {
		display: block;
		text-align: center;
	}
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}