div.hero-unit
  h2 Something went wrong!
  p 
    | We're sorry. Looks like something isn't working.
    | Please try again at a later time.
    br
    | Or if it's urgent, shoot us an email at 
    a(href='mailto:michael.jacob.davis@gmail.com') Michael.Jacob.Davis@gmail.com
