div.hero-unit
  h2 Our Story
  p 
    | Mike and Loren met in 2006 at Cal State San Marcos. Being the same major, they had a few classes together over the next year, but didn't become close friends until Fall 2007 when they shared 4 out of 5 classes together. They got to know each other over dinner with friends and class outings. Mike finally asked her out at the end of the semester and had their first date December 15, 2007. Their wedding day will be their 5 1/2 year anniversary.
