div.hero-unit
  h2 Gift Ideas
  a(href='http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-750292444&') Bed Bath and Beyond
  br
  a(href='https://gifts.betterment.com/lorenandmike') Betterment
