div.hero-unit
	h2 RSVP

	form(ngSubmit='click', action='https://docs.google.com/spreadsheet/formResponse?formkey=dFRORWZQSHh5aDJiM3dLUU9ldmlQNmc6MQ&theme=0AX42CRMsmRFbUy0yMjdiMTQ4Yi0zZjUwLTQ5NTUtOGVmNC05ODNlZTUxYTViYzA&embedded=true&ifq', method='POST')
		
		label Your Name
		input(type='text', name='entry.0.single', required)

		fieldset
			legend Will you be attending?

			label.radio
				input(type='radio', name='entry.1.group', value='Happily Accepts', checked)
				| Happily Accepts
			
			label.radio
				input(type='radio', name='entry.1.group', value='Regretfully Declines')
				| Regretfully Declines

		br

		label How many total in your group?
		select(name='entry.2.single')
			option 1
			option 2
			option 3
			option 4
			option 5
			option 6 or more

		br

		input.btn.btn-primary(type='submit', name='submit', value='Submit')