div.hero-unit
	h2 RSVP

	form(ng-submit='save()', method='POST')
		
		label Your Name
		input(type='text', name='entry.0.single', required, ng-model='entry.0.single')

		fieldset(ng-model='entry.1')
			legend Will you be attending?

			label.radio
				input(type='radio', name='entry.1.group', value='Happily Accepts', checked, ng-model='entry.1.group'))
				| Happily Accepts
			
			label.radio
				input(type='radio', name='entry.1.group', value='Regretfully Declines', ng-model='entry.1.group'))
				| Regretfully Declines

		br

		label How many total in your group?
		select(name='entry.2.single', ng-model='entry.2.single'))
			option 1
			option 2
			option 3
			option 4
			option 5

		br

		input.btn.btn-primary(type='submit', name='submit', value='Submit')