div.hero-unit
  h2 RSVP

  h4 We'll see you there!
  p
    | We're so happy you can make it!
    
  p
    | Your presense is the most important gift you 
    | could give us. For those who want to give something 
    | extra, we would love for you to help us 
    a(href="#/registry") plan for our future
    | .