extends layout

block content
  div.menu.cf
    h1 
      a(href='/') Loren and Mike's Wedding
    ul(bs-navbar)
      li(data-match-route="/thankyou.*") 
        a(href='#/thankyou') Thank You
    
  div.content.cf(ng-view)
